/* ------------ colors ------------- */
/* ------------ desktop ------------- */
@media (max-width: 1101px) {
  #uvod {
    background-position: 92% d;
  }
}

/* ------------ small desktop ------------- */
@media (max-width: 980px) {
  #uvod {
    background-position: 97%;
  }
  nav {
    margin-left: 20px;
  }
  .title {
    margin-left: 280px;
  }
  #sluzby,
  #projekty,
  #cenik,
  #konzultace,
  #kontakt,
  #omne {
    padding-left: 260px;
  }
  #projekty img {
    width: 90%;
    padding-right: 40px;
  }
  .reference-popis {
    max-width: 500px;
    padding: 0 40px 20px 0;
  }
}

/* ------------ horizontal nav ------------- */
@media (max-width: 860px) {
  nav {
    background-image: none;
    background-color: #2D2C2A;
    margin: 0;
    width: 100%;
    height: 100px;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
  }
  nav ul {
    margin: 0 auto;
  }
  nav li {
    float: left;
    padding: 40px 15px;
  }
  nav .logo {
    margin: 5px -5% 0 0;
  }
  nav .logo-title {
    float: left;
    margin: 5px 0 0 10px;
    font-size: 24px;
    text-align: left;
  }
  nav span {
    font-size: 18px;
  }
  nav .logo-img {
    height: 75px;
    float: left;
  }
  #uvod {
    background-position: 85% 100px;
  }
  .title {
    margin-left: 150px;
  }
  #sluzby,
  #projekty,
  #cenik,
  #konzultace,
  #kontakt,
  #omne {
    padding: 5% 10%;
  }
}

/* ------------ horizontal nav ------------- */
@media (max-width: 749px) {
  #uvod {
    background-position: 90% 100px;
  }
  .title {
    margin-left: 10%;
  }
  .sluzby-icons {
    margin: 0 15px 0 -15px;
  }
  .sluzby-text {
    padding: 0 0 20px 0;
  }
  #sluzby,
  #projekty,
  #cenik,
  #konzultace,
  #kontakt,
  #omne {
    padding: 5%;
    margin: 0 auto;
  }
  nav ul li {
    padding-left: 5px;
  }
}

/* ------------ mobile nav ------------- */
@media (max-width: 650px) {
  nav {
    position: relative;
    justify-content: center;
  }
  nav .logo {
    padding: 5px 0;
    margin: 5px 0;
  }
  nav .logo-img {
    float: right;
    padding-left: 40px;
  }
  nav .logo-title {
    float: left;
  }
  #nav-index {
    display: none;
  }
  #mobile-menu {
    display: inline;
    margin-left: -3%;
    padding: 38px 10%;
    font-size: 24px;
  }
  #mobile-nav {
    display: block;
  }
  #uvod {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 30%, #FFF9F0 50%), url("../images/hero-foto.jpg");
    background-position: 52% 100px;
  }
  .title {
    float: none;
    text-align: center;
    margin: 280px 0 0 0;
  }
  .title h3 {
    padding-left: 0;
  }
  .title .btn {
    margin: 10px 0 0 0;
  }
  .info {
    text-align: center;
    float: none;
    padding: 0;
  }
  #sluzby {
    float: right;
    margin: 0 auto;
  }
  .sluzby-text {
    width: 100%;
  }
  .sluzby-p {
    padding-right: 0;
  }
  #sluzby-spoluprace .box-obsah {
    width: 100%;
  }
  #sluzby-sprava {
    padding-right: 10px;
  }
  #projekty img {
    width: 100%;
  }
  .reference-popis {
    padding-right: 0;
  }
  .konzultace-benefity li {
    width: 95%;
  }
  .konzultace-benefity img {
    vertical-align: top;
    width: 5%;
  }
  #omne div {
    width: 100%;
  }
  #omne div img {
    width: 80%;
  }
  #omne div p {
    width: 80%;
  }
}

/* ------------ mobile small ------------- */
@media (max-width: 550px) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 22px;
  }
  #hero-foto2 {
    float: none;
    margin: 0;
    padding-top: 30px;
    width: 50%;
  }
  .polozka hr {
    width: 80%;
  }
  hr {
    width: 90%;
  }
  #omne h1 {
    font-size: 30px;
  }
  #omne div {
    width: 100%;
  }
  #omne div img {
    width: 90%;
  }
  #omne div p {
    width: 90%;
  }
}

@media (max-width: 390px) {
  nav {
    justify-content: space-around;
  }
  .logo img {
    padding-left: 15%;
  }
  .logo p {
    font-size: 22px;
  }
  nav span {
    font-size: 17px;
  }
  .title {
    margin-top: 160px;
  }
  .konzultace-benefity img {
    margin-top: 7px;
  }
  .polozka p:nth-of-type(2) {
    clear: left;
    padding-left: 12px;
  }
  .polozka hr {
    width: 50%;
    clear: left;
  }
  #omne div {
    width: 100%;
  }
  #omne div img {
    width: 100%;
  }
  #omne div p {
    width: 100%;
  }
}
