/* ------------ basic setup ------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  margin: 0 auto;
}

.clearfix:before {
  content: "";
  display: table;
  clear: both;
}

/* ------------ colors ------------- */
/* ------------ fonts ------------- */
h1, h2, h3, h4, h5 {
  font-weight: 400;
}

body {
  font-size: 16px;
  font-weight: 300;
  line-height: 180%;
  font-family: "Merriweather", serif;
  color: #2D2C2A;
}

h1 {
  font-size: 43px;
  line-height: 120%;
  margin: 20px 0;
}

h2 {
  font-size: 30px;
  line-height: 120%;
  margin: 20px 0;
}

h3 {
  font-size: 24px;
  font-style: italic;
  margin: 10px 0;
}

h4 {
  font-size: 24px;
  margin: 10px 0;
  font-weight: 300;
}

h5 {
  font-size: 18px;
}

/* ------------ buttons ------------- */
a:link,
a:visited {
  color: #4292B8;
  font-weight: 400;
  text-decoration: none;
}

a:link:hover, a:link:active,
a:visited:hover,
a:visited:active {
  color: #375C73;
  transition: .5s all ease-out;
}

nav a:link:hover, nav a:link:active,
nav a:visited:hover,
nav a:visited:active {
  color: #FBB533;
  transition: .5s all ease-out;
}

#kontakt a:link,
#kontakt a:visited {
  color: #375C73;
}

#kontakt a:link:hover, #kontakt a:link:active,
#kontakt a:visited:hover,
#kontakt a:visited:active {
  color: #2D2C2A;
  transition: .5s all ease-out;
}

.btn:link,
.btn:visited {
  display: inline-block;
  color: #2D2C2A;
  font-weight: 400;
  font-style: normal;
  background-color: #FBB533;
  padding: 12px 40px;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.4);
  border: 2px solid #FBB533;
  border-radius: 4px;
}

.btn:link:hover, .btn:link :active,
.btn:visited:hover,
.btn:visited :active {
  color: #2D2C2A;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.6);
}

.btn-ghost:link,
.btn-ghost:visited {
  display: inline-block;
  color: #2D2C2A;
  font-weight: 400;
  font-style: normal;
  padding: 12px 40px;
  border: 2px solid #2D2C2A;
  border-radius: 4px;
}

.btn-ghost:link:hover, .btn-ghost:link :active,
.btn-ghost:visited:hover,
.btn-ghost:visited :active {
  border: 2px solid #375C73;
  transition: .5s all ease-out;
}

nav ul li a:hover,
nav ul li a:active {
  color: #FBB533;
  transition: .5s all ease-out;
}

.nav-sec a:link {
  transition: 5.0s color ease-out;
  transition: 0s font-size;
}

/* ------------ nav ------------- */
.logo {
  margin: 50px 0 30px 0;
}

.logo-title {
  padding: 10px 0;
  font-size: 18px;
}

nav span {
  font-size: 15px;
}

nav {
  background-image: url("../images/nav-background.svg");
  background-size: cover;
  position: fixed;
  width: 180px;
  height: 620px;
  margin: -25px 0 0 70px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  color: #E0E0E0;
}

nav ul {
  list-style: none;
}

nav a:link,
nav a:visited {
  color: #E0E0E0;
  font-weight: 300;
}

nav li, nav .logo {
  padding: 5px 40px;
}

.active:link,
.active:visited {
  color: #FBB533;
  transition: .5s all ease-out;
}

.active-sec:link,
.active-sec:visited {
  font-size: 24px;
}

#mobile-menu {
  display: none;
}

#mobile-nav {
  display: none;
  padding-bottom: 100px;
}

#mobile-nav li a:link,
#mobile-nav li a:visited {
  color: #E0E0E0;
  font-weight: 300;
  font-size: 18px;
  line-height: 250%;
}

/* ------------ uvod ------------- */
#uvod {
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 66%, #FFF9F0), url("../images/hero-foto.jpg");
  background-position: 80%;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

#uvod-nav {
  overflow: hidden;
}

.title {
  font-style: italic;
  float: left;
  margin: 250px 0 0 350px;
}

.title h3 {
  padding-left: 25px;
  line-height: 160%;
}

.title .btn {
  margin: 10px 0 0 25px;
}

/* ------------ sluzby ------------- */
#sluzby {
  background-color: #FFF9F0;
  padding: 70px 0 60px 330px;
  overflow: hidden;
}

#sluzby h3 {
  padding-bottom: 10px;
}

.sluzby-p {
  max-width: 600px;
  margin-bottom: 30px;
  padding-right: 30px;
}

.sluzby-icons {
  width: 120px;
  float: left;
  margin-top: 30px;
}

.sluzby-text {
  width: 80%;
  float: left;
  padding: 20px 0 20px 40px;
}

.sluzby-text a {
  display: inline-block;
  padding-top: 10px;
}

.sluzby-text p {
  max-width: 500px;
  padding-right: 30px;
}

/* ------------ sluzby-boxes ------------- */
.nav-sec {
  display: none;
  width: 100%;
  padding: 10px 0 20px 0;
  line-height: 220%;
}

.nav-sec svg {
  width: 20px;
  vertical-align: middle;
  margin-bottom: 5px;
  margin-right: 5px;
}

/*a:hover > svg *
  fill: $highlight */
.nav-sec a {
  display: inline-block;
  padding-right: 15px;
}

#sluzby-spoluprace,
#sluzby-tech,
#sluzby-navstevnost,
#sluzby-sprava {
  display: none;
}

#sluzby-spoluprace .box-obsah {
  width: 50%;
  max-width: 400px;
  float: left;
}

#sluzby-spoluprace .box-obsah:first-of-type {
  padding-right: 5%;
}

#sluzby-spoluprace p:nth-child(odd) {
  font-weight: 400;
  padding: 10px 0 5px 0;
}

#sluzby-spoluprace p:nth-child(even) {
  padding-bottom: 20px;
}

#sluzby-tech p {
  padding: 10px 0px 10px 0;
  width: 100%;
  max-width: 800px;
}

#sluzby-tech h5 {
  padding-top: 20px;
}

#sluzby-tech video {
  padding: 20px 0 10px 0;
  width: 100%;
  max-width: 800px;
}

#sluzby-navstevnost p,
#sluzby-navstevnost img {
  padding: 10px 0 10px 0;
  width: 100%;
  max-width: 800px;
}

#sluzby-navstevnost h5 {
  padding-top: 20px;
}

#sluzby-sprava p {
  padding: 10px 0 10px 0;
  width: 100%;
  max-width: 800px;
}

.polozka2 {
  margin: 30px 0 15px 0;
  max-width: 800px;
  border-left: 2px solid #FBB533;
}

.polozka2 p,
.polozka2 h5 {
  margin-left: 10px;
}

.polozka2 p:first-of-type {
  font-style: italic;
}

/* ------------ projekty ------------- */
#projekty {
  background-color: #FFD08A;
  padding: 70px 0 60px 330px;
  overflow: hidden;
}

.reference {
  margin: 30px 0 60px 0;
}

.reference h2 {
  font-style: italic;
  margin-bottom: 10px;
}

.reference h3 {
  margin: 0 0 15px 0;
  font-size: 20px;
}

.reference img {
  width: 50%;
  float: left;
}

.reference-popis {
  max-width: 320px;
  float: left;
  padding: 0 20px;
}

.reference-popis p:first-of-type {
  padding-bottom: 10px;
}

.reference-popis a {
  display: inline-block;
  padding-bottom: 15px;
}

/* ------------ cenik ------------- */
#cenik {
  background-color: #FFF9F0;
  padding: 70px 0 0 330px;
  overflow: hidden;
}

#cenik p {
  max-width: 550px;
}

#cenik .btn {
  margin-right: 20px;
}

.sluzby-c {
  padding-bottom: 40px;
}

.polozka {
  max-width: 590px;
  border-left: 2px solid #FBB533;
}

.polozka p {
  padding: 7px 10px;
  display: inline-block;
}

.polozka p:first-of-type {
  font-weight: 400;
  font-size: 18px;
  float: left;
}

.polozka p:nth-of-type(2) {
  font-weight: 400;
  font-size: 18px;
  float: left;
  padding-left: 15%;
}

.polozka hr {
  width: 60%;
  border: 1px solid #FFD08A;
}

hr {
  width: 90%;
  border: 1px solid #FFD08A;
}

.podpora {
  margin-top: 50px;
}

#konzultace {
  background-color: #FFF9F0;
  padding: 30px 0 60px 330px;
  overflow: hidden;
}

#konzultace p {
  max-width: 550px;
}

#konzultace h2 {
  font-size: 26px;
}

.konzultace-p {
  padding: 10px 0 40px 0;
}

.konzultace-benefity {
  list-style: none;
  padding-bottom: 40px;
}

.konzultace-benefity li {
  display: inline-block;
  padding: 0 0 10px 10px;
}

.konzultace-benefity img {
  vertical-align: middle;
}

/* ------------ kontakt ----------- */
#kontakt {
  padding: 70px 0 60px 330px;
  background-color: #8FA1AE;
  overflow: hidden;
}

.kontakty {
  list-style: none;
  font-size: 18px;
}

.kontakty li {
  display: inline-block;
  padding: 10px 0 10px 10px;
}

.kontakty img {
  width: 30px;
  vertical-align: middle;
}

#hero-foto2 {
  width: 35%;
  margin-top: -30%;
  float: right;
  margin-right: 15%;
}

.kdojsem {
  margin-top: 120px;
}

.kdojsem h2 {
  margin-bottom: 30px;
}

.kdojsem div {
  float: left;
  width: 30%;
  margin-right: 3%;
  margin-bottom: 3%;
}

.kdojsem div p:first-child {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 10px;
}

.kdojsem img {
  width: 100%;
}

/* ------------ footer ------------- */
footer {
  background-color: #2D2C2A;
  color: #E0E0E0;
  text-align: center;
  padding: 70px 0;
  overflow: hidden;
  font-size: 14px;
}

.info {
  float: right;
  text-align: right;
  padding-right: 70px;
}
