/* ------------ basic setup ------------- */

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  max-width: 1280px
  margin: 0 auto

.clearfix
    &:before
        content: ""
        display: table
        clear: both

/* ------------ colors ------------- */

$primary: #2D2C2A
$highlight: #FBB533
$background: #FFF9F0
$background2: #FFD08A
$light: #E0E0E0
$link: #4292B8
$link2: #375C73

/* ------------ fonts ------------- */

$font-stack: "Merriweather", serif

h1, h2, h3, h4, h5
  font-weight: 400

body
  font-size: 16px
  font-weight: 300
  line-height: 180%
  font-family: $font-stack
  color: $primary

h1
  font-size: 43px
  margin: 20px 0

h2
  font-size: 30px
  margin: 20px 0

h3
  font-size: 24px
  font-style: italic
  margin: 10px 0

h4
  font-size: 24px
  margin: 10px 0
  font-weight: 300

h5
  font-size: 18px

/* ------------ buttons ------------- */

a:link,
a:visited
  color: $link
  font-weight: 400
  text-decoration: none
  &:hover, &:active
    color: $link2
    transition: .5s all ease-out

nav a:link,
nav a:visited
  &:hover, &:active
    color: $highlight
    transition: .5s all ease-out

#kontakt a:link,
#kontakt a:visited
  color: $link2
  &:hover, &:active
    color: $primary
    transition: .5s all ease-out

.btn:link,
.btn:visited
  display: inline-block
  color: $primary
  font-weight: 400
  font-style: normal
  background-color: $highlight
  padding: 12px 40px
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.4)
  border: 2px solid $highlight
  border-radius: 4px

  &:hover,:active
    color: $primary
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.6)

.btn-ghost:link,
.btn-ghost:visited
  display: inline-block
  color: $primary
  font-weight: 400
  font-style: normal
  padding: 12px 40px
  border: 2px solid $primary
  border-radius: 4px

  &:hover,:active
    border: 2px solid $link2
    transition: .5s all ease-out

nav ul li a:hover,
nav ul li a:active
  color: $highlight
  transition: .5s all ease-out

.nav-sec a:link
  transition: 0s all

/* ------------ nav ------------- */

.logo
  margin: 50px 0 30px 0

.logo-title
  padding: 10px 0
  font-size: 18px

nav span
  font-size: 15px

nav
  background-image: url("../images/nav-background.svg")
  background-size: cover
  position: fixed
  width: 200px
  height: 700px
  margin: -25px 0 0 70px
  display: flex
  flex-direction: column
  align-items: flex-end
  text-align: right
  color: $light
  ul
    list-style: none
  a:link,
  a:visited
    color: $light
    font-weight: 300
  li,.logo
    padding: 5px 40px

.active:link,
.active:visited
  color: $highlight
  transition: .5s all ease-out

.active-sec:link,
.active-sec:visited
  font-size: 24px


/* ------------------------------------- */
/* ------------ index.html ------------- */
/* ------------------------------------- */

#uvod
  height: 100vh
  overflow: hidden
  background-image: linear-gradient(rgba(255,255,255,0) 66%, $background), url("../images/hero-foto.jpg")
  background-position: 80%
  background-repeat: no-repeat
  background-size: contain
  background-attachment: fixed

#uvod-nav
  overflow: hidden

.title
  font-style: italic
  float: left
  margin: 250px 0 0 350px
  h3
    padding-left: 25px
    line-height: 160%
  .btn
    margin: 10px 0 0 25px

.hero-foto
  float: right
  width: 300px
  margin-right: 150px


/* ------------ sluzby ------------- */

#sluzby
  background-color: $background
  padding: 70px 0 60px 330px
  overflow: hidden
  h3
    padding-bottom: 10px

.sluzby-p
  max-width: 600px
  margin-bottom: 30px

.sluzby-icons
  width: 120px
  float: left
  margin-top: 30px

.sluzby-text
  width: 80%
  float: left
  padding: 20px 0 20px 40px
  a
    display: inline-block
    padding-top: 10px

.sluzby-text p
  max-width: 500px


/* ------------ sluzby-boxes ------------- */

.nav-sec
  display: none
  width: 100%
  padding: 10px 0 20px 0
  svg
    width: 20px
    vertical-align: middle
    margin-bottom: 5px
    margin-right: 5px
a:hover > svg *
  fill: $highlight

.nav-sec a
  display: inline-block
  padding-right: 15px


#sluzby-spoluprace,
#sluzby-tech,
#sluzby-navstevnost,
#sluzby-sprava
  display: none


#sluzby-spoluprace .box-obsah
  max-width: 40%
  float: left
  padding-right: 5%

#sluzby-spoluprace p:nth-child(odd)
  font-weight: 400
  padding: 10px 0 5px 0

#sluzby-spoluprace p:nth-child(even)
  padding-bottom: 20px

#sluzby-tech p
  padding: 10px 0
  max-width: 800px
#sluzby-tech h5
  padding-top: 20px
#sluzby-tech video
  padding: 20px 0
  max-width: 800px

#sluzby-navstevnost p,
#sluzby-navstevnost img
  padding: 10px 0
  max-width: 800px

#sluzby-sprava p
  padding: 10px 0
  max-width: 800px

.polozka2
  margin: 30px 0 15px 0
  max-width: 800px
  border-left: 2px solid $highlight

.polozka2 p,
.polozka2 h5
  margin-left: 10px

.polozka2 p:first-of-type
  font-style: italic

/* ------------ projekty ------------- */

#projekty
  background-color: $background2
  padding: 70px 0 30px 330px
  overflow: hidden

.reference
  margin: 30px 0 60px 0
  h2
    font-style: italic
    margin-bottom: 10px
  h3
    margin: 0 0 15px 0
    font-size: 20px
  img
    width: 500px
    float: left

.reference-popis
  max-width: 360px
  float: left
  padding: 0 30px 70px 50px
  p:first-of-type
    padding-bottom: 10px
  a
    display: inline-block
    padding-bottom: 15px


/* ------------ cenik ------------- */

#cenik
  background-color: $background
  padding: 70px 0 100px 330px
  overflow: hidden
  p
    max-width: 550px
  .btn
    margin-right: 20px

.sluzby-c
  padding-bottom: 40px

.polozka
  max-width: 590px
  border-left: 2px solid $highlight
  p
    padding: 7px 10px
    display: inline-block
  p:first-of-type
    font-weight: 400
    font-size: 18px
    float: left
  p:nth-of-type(2)
    font-weight: 400
    font-size: 18px
    float: right
    padding-right: 250px
  hr
    width: 350px
    border: 1px solid $highlight

hr
  width: 540px
  border: 1px solid $highlight

.podpora
  margin-top: 50px

#konzultace
  margin-top: 60px

.konzultace-p
  padding: 10px 0 40px 0

.konzultace-benefity
  list-style: none
  margin-bottom: 70px
  li
    display: inline-block
    padding: 0 0 10px 10px
  img
    vertical-align: middle

/* ------------ footer ------------- */

footer
  background-color: $primary
  color: $light
  text-align: center
  padding: 70px 0


/* ------------------------------------- */
/* ------------ kontakt.html ----------- */
/* ------------------------------------- */


/* ------------ o mne ----------- */

#omne
  padding: 70px 0 150px 330px
  overflow: hidden
  h2
    margin: 0 0 30px 0
  img
    width: 450px
    float: left
  img:nth-of-type(2)
    margin-top: -30px
  img:nth-of-type(3)
    margin-top: -30px

.omne1
  width: 380px
  float: left
  margin-left: 30px
  padding: 10px 0

.omne2
  width: 380px
  float: left
  margin-right: 30px
  padding: 20px 0
  clear: left

.omne3
  width: 380px
  float: left
  margin-left: 30px
  padding: 20px 0


/* ------------ kontakt ----------- */

#kontakt
  margin-top: 40px
  padding: 70px 0 60px 330px
  overflow: hidden
  background-color: #8FA1AE

.kontakty
  list-style: none
  font-size: 18px
  li
    display: inline-block
    padding: 10px 0 10px 10px
  img
    width: 30px
    vertical-align: middle

#hero-foto2
  width: 400px
  position: absolute
  margin-top: -450px
  margin-left: 450px

.otazky
  margin-top: 100px
  h4
    margin-bottom: 20px
  div
    width: 27%
    float: left
    margin-right: 5%
    p:first-child
      font-weight: 400
      padding-bottom: 10px


/* ------------ footer-kontakt----------- */

footer
  overflow: hidden

.copy
  text-align: left
  padding: 110px 0 0 330px
  position: absolute

.info
  float: right
  text-align: right
  padding-right: 50px
